server {
    listen 80;

    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $uri $uri/ /index.html;
    }

    # Microservicio 1 (Puerto 8080)
    location /aapi/v1/despachos/ {
        proxy_pass http://backend:8080;
        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }

    # Microservicio 2 (Puerto 8081)
    location /api/api/v1/ventas/ {
        proxy_pass http://backend-productos:8081/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}